.card {
  width: 600px;
  height: 400px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s !important;
  
  float: left !important;
  margin-left: 300px !important;
  margin-top: 100px;
}
.button {
  margin-top : 30px !important;
  justify-items: center !important;

  width: 140px !important;
  height: 35px !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
}

.App .navbar {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  color: #fff;
  background: rgba(29, 161, 242, 1);
  padding-top: 20px;
  
  font-size: 24px;
}

.App .navbar .nav-links {
  width: 40% !important;
  display: flex !important;
  justify-content: space-around !important;
  list-style: none !important;
}

.App .navbar .nav-links>a{
  color: #fff;
  text-decoration: none;
  
}

.select {
  margin-top: 20px !important;
  
  
  width: 300px !important;
 
}
.home{
 
  margin-right: 100px; 
  
}
.text-danger{
  color: red;
  

}

.text-success{
color: green;

}
.home-link{
  float: left !important;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 16px;

  
}

.head-txt{
  
  margin-top: 20px;


}
.head-tails{
  
  margin-left: 100px;

}